services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - app
    restart: always
    container_name: cdn-checker-app-nginx-1

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app.py:/app/app.py
      - ./output:/app/output
      - ./db:/app/db
      - ./data:/app/data
      - ./uploads:/app/uploads
    expose:
      - "5001"
    restart: always
    container_name: cdn-checker-app-app-1
